.account {
  border: none;
  background-color: white;
  width: 360px;
  height: 460px;
  border-radius: 12px;
  margin: 0 20px;
}

.account1 {
  padding: 20px 0 0 20px;
}

.account2 {
  font-size: 20px;
  margin: -22px 0 0 330px;
}

.toss1 {
  width: 34px;
  margin: 8px;
}

.account-t {
  font-size: 12px;
  margin: -45px 50px;
}

.account3 {
  border: none;
  background-color: rgba(206, 206, 206, 0.63);
  border-radius: 12px;
  width: 320px;
  height: 50px;
  margin: -370px 5px 20px 30px;
}

.account4 {
  border: none;
  background-color: rgba(10, 195, 16, 0.74);
  border-radius: 12px;
  width: 280px;
  height: 50px;
  margin: 0 5px 20px 70px;
}

.account5 {
  border: none;
  background-color: rgba(48, 231, 228, 0.73);
  border-radius: 12px;
  width: 280px;
  height: 50px;
  margin: 10px 5px 0 70px;
}

.account6 {
  border: none;
  background-color: rgba(48, 231, 228, 0.73);
  border-radius: 12px;
  width: 280px;
  height: 50px;
  margin: 1px 5px 20px 70px;
}

.account7 {
  border: none;
  background-color: rgba(250, 159, 1, 0.85);
  border-radius: 12px;
  width: 280px;
  height: 50px;
  margin: 0 5px 20px 70px;
}

.account8 {
  border: none;
  background-color: rgba(255, 3, 49, 0.85);
  border-radius: 12px;
  width: 280px;
  height: 50px;
  margin: 0 5px 5px 70px;
}

.line1 {
  height: 330px;
  margin: 55px 20px -10px 30px;
}

.budget {
  border: none;
  background-color: white;
  height: 200px;
  width: 360px;
  border-radius: 12px;
  margin: 30px 20px;
}

.budget1 {
  padding: 15px 0 0 15px;
}

.line {
  border: none;
  height: 1px;
  width: 340px;
  background-color: lightgray;
  margin: 10px 10px 0 15px;
}

.budget2 {
  margin: 10px 0 0 20px;
}

.budget3 {
  margin: 15px 0 0 20px;
}

.budget4 {
  margin: 15px 0 0 20px;
}

.budget5 {
  margin: 15px 0 0 20px;
}

.budget6 {
  margin: -126px 0 0 190px;
}

.budget7 {
  margin: 15px 0 0 190px;
}

.budget8 {
  margin: 16px 0 0 190px;
}

.budget9 {
  margin: 14px 0 0 190px;
}

.budget10 {
  margin: -127px 0 0 290px;
}

.budget11 {
  margin: 17px 0 0 290px;
}

.budget12 {
  margin: 14px 0 0 290px;
}

.budget13 {
  margin: 15px 0 0 290px;
}

.budget14 {
  text-align: center;
  border: none;
  background-color: rgba(10, 195, 16, 0.74);
  border-radius: 20px;
  width: 50px;
  height: 20px;
  margin: -132px 0 10px 100px;
}

.budget15 {
  text-align: center;
  border: none;
  background-color: rgba(48, 231, 228, 0.73);
  border-radius: 20px;
  width: 50px;
  height: 20px;
  margin: 15px 0 10px 100px;
}

.budget16 {
  text-align: center;
  border: none;
  background-color: rgba(250, 159, 1, 0.85);
  border-radius: 20px;
  width: 50px;
  height: 20px;
  margin: 17px 0 10px 100px;
}

.budget17 {
  text-align: center;
  border: none;
  background-color: rgba(255, 3, 49, 0.85);
  border-radius: 20px;
  width: 50px;
  height: 20px;
  margin: 18px 0 10px 100px;
}
