.account {
  border: none;
  background-color: white;
  width: 360px;
  margin-left: 20px;
  height: 460px;
  border-radius: 12px;
}

.account1 {
  padding: 20px 0 0 20px;
}

.account2 {
  font-size: 20px;
  position: relative;
  bottom: 10px;
  left: 330px;
}

.toss1 {
  width: 34px;
  margin: 8px;
}

.account-t {
  font-size: 12px;
  margin: -45px 50px;
}

.account3 {
  border: none;
  background-color: rgba(206, 206, 206, 0.63);
  border-radius: 12px;
  width: 320px;
  height: 50px;
  margin: 20px;
}
.line1 {
  height: 320px;
}

.budget {
  border: none;
  background-color: white;
  height: 200px;
  width: 360px;
  border-radius: 12px;
  margin: 30px 20px;
}

.budget1 {
}
.line {
  border: none;
  height: 1px;
  width: 360px;
  background-color: lightgray;
}

.budget14 {
  text-align: center;
  border: none;
  background-color: rgba(10, 195, 16, 0.74);
  border-radius: 20px;
  width: 50px;
  height: 20px;
}
