.bufl {
  width: 60px;
  color: #3182f6;
  position: relative;
  top: 15px;
  left: 20px;
}

.bell {
  height: 35px;
  position: relative;
  top: 10px;
  left: 290px;
}

.money {
  font-weight: bolder;
  font-size: larger;
  position: relative;
  bottom: 10px;
  left: 60px;
}

.bank-icon {
  margin: 20px;
  margin-top: 30px;
}

.bank-icon1 {
  background-color: #3183f6ba;
  border-radius: 12px 12px 0 0;
}

.bank-icon2 {
  background-color: #3183f67a;
}

.bank-icon3 {
  background-color: #3183f645;
}

.bank-icon4 {
  background-color: #3183f629;
  border-radius: 0;
}

.bank-icon5 {
  background-color: #eaeaeb4c;
  border-radius: 0;
}

.more {
  border: 1px;
  background-color: rgba(211, 211, 211, 0.432);
  border-radius: 0 0 12px 12px;
  color: rgba(160, 159, 159, 0.749);
  text-align: center;
  font-size: small;
  padding: 5px;
}

.main_icons {
  position: relative;
  top: 15px;
  left: 16px;
  width: 22px;
}

.month_ {
  margin-left: 20px;
  border: 1px;
  background-color: white;
  width: 360px;
  height: 60px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-self: center;
  line-height: 60px;
}

.month1_ {
  color: gray;
  font-size: large;
}

.month2_ {
  color: rgba(68, 68, 68, 0.959);
  font-weight: bolder;
  font-size: large;
}

.asset-box {
  border: 1px;
  background-color: white;
  margin: 20px;
  height: 180px;
  border-radius: 12px;
}

.donut {
  position: relative;
  top: 20px;
  left: 30px;
  width: 150px;
  height: 150px;
}

.asset {
  position: relative;
  bottom: 140px;
  left: 10px;
}

.asset1 {
  position: relative;
  bottom: 115px;
  left: 140px;
  font-size: small;
}

.asset2 {
  position: relative;
  bottom: 135px;
  left: 40px;
  font-size: small;
}

.asset3 {
  position: relative;
  bottom: 75px;
  left: 130px;
  font-size: small;
}

.asset4 {
  position: relative;
  bottom: 97px;
  left: 40px;
  font-size: small;
}

.asset5 {
  position: relative;
  bottom: 150px;
  left: 75px;
  font-size: small;
}

.asset6 {
  font-size: larger;
  font-weight: bolder;
  position: relative;
  bottom: 200px;
  left: 190px;
}
