.list {
  border: none;
  border-radius: 12px;
  background-color: rgba(211, 211, 211, 0.301);
  width: 380px;
  height: 590px;
  margin: 10px;
}

.list1 {
  font-size: 17px;
  font-weight: bold;
  padding: 20px;
}

.list2 {
  font-size: 17px;
  text-align: left;
  margin: 15px;
  padding: 10px;
  border: none;
  border-radius: 12px;
  background-color: rgba(125, 180, 253, 0.349);
  width: 350px;
  height: 100px;
}

.list3 {
  font-size: 17px;
  text-align: left;
  margin: 15px;
  padding: 10px;
  border: none;
  border-radius: 12px;
  background-color: rgba(125, 180, 253, 0.349);
  width: 350px;
  height: 100px;
}

.list4 {
  font-size: 17px;
  text-align: left;
  margin: 15px;
  padding: 10px;
  border: none;
  border-radius: 12px;
  background-color: rgba(125, 180, 253, 0.349);
  width: 350px;
  height: 100px;
}

.list5 {
  font-size: 17px;
  text-align: left;
  margin: 15px;
  padding: 10px;
  border: none;
  border-radius: 12px;
  background-color: rgba(125, 180, 253, 0.349);
  width: 350px;
  height: 100px;
}

.log {
  text-align: center;
  width: 20px;
  height: 20px;
}

.log-btn {
  background-color: #007bff;
  color: white;
  border: none;
  width: 350px;
  height: 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  margin: 20px 25px 0 25px;
  cursor: pointer;
  display: block;
  border-radius: 12px;
}
.modal-content {
  border-radius: 12px;
  background-color: white;
  width: 380px;
  height: 480px;
  margin-left: 10px;
  position: fixed; /* 고정 위치 */
  top: 320px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.content-right {
  margin: 40px 20px;
}

.goal-text {
  font-size: 17px;
  font-weight: bold;
  margin: 20px;
}

.slider-container {
  margin: 10px 0;
}

.slider1 {
  margin: 10px 20px 10px 30px;
  width: 320px;
}

.month {
  font-weight: bold;
  margin: 30px;
}

.min-value {
  margin-left: 30px;
  font-size: 14px;
  color: lightgray;
}

.max-value {
  font-size: 14px;
  color: lightgray;
}
.text-space-btw {
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.month-money {
  font-weight: bold;
  margin: 30px;
}
.slider-container1 {
  text-align: left;
}

.cancel-btn {
  font-size: 22px;
  border: none;
  border-radius: 12px;
  background-color: lightgray;
  color: white;
  width: 180px;
  height: 55px;
  margin: 5px;
}

.confirm-btn {
  font-size: 22px;
  border: none;
  border-radius: 12px;
  background-color: #3183f6;
  color: white;
  width: 180px;
  height: 55px;
  margin: 5px;
}
