.bottom {
  border: none;
  background-color: white;
  box-shadow: 0 -1px 1px #dddddd;
  width: 400px;
  height: 70px;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 730px;
}
.bottombox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 70px;
}
.home {
  opacity: 0.3;
  width: 30px;
  height: 30px;
}
.goal {
  opacity: 0.3;
  width: 30px;
  height: 30px;
}
.menu {
  opacity: 0.3;
  width: 30px;
  height: 30px;
}
.home-text {
  color: lightgrey;
  font-size: 12px;
}

.goal-text_ {
  color: lightgrey;
  font-size: 12px;
  width: 60px;
}

.menu-text {
  color: lightgrey;
  font-size: 12px;
}
