.load {
  border: none;
  background-color: rgba(211, 211, 211, 0.363);
  border-radius: 12px;
  height: 590px;
  width: 380px;
  margin: 10px;
}
.spin {
  padding: 20px;
}

.loading {
  text-align: center;
}

.spin_container {
  margin-top: 170px;
}
