.money-pig {
  border: none;
  font-size: 23px;
  font-weight: bold;
  margin: 10px 0 0 30px;
}
.money-pig1 {
  text-align: center;
  font-size: 11px;
  color: gray;
  border: none;
  width: 150px;
  height: 20px;
  background-color: rgba(211, 211, 211, 0.466);
  padding: 3px;
  border-radius: 5px;
  margin: 20px 0 0 30px;
}
.next-btn1 {
  color: white;
  font-size: 22px;
  font-weight: bold;
  border: none;
  background-color: #3182F6;
  width: 400px;
  height: 50px;
  z-index: 10; /* 다른 요소 위에 표시 */
  position: absolute;
  top: 390px;
  
}
/* 숫자 키패드 스타일 */
.numpad-container {
  width: 100%;
  max-width: 300px;
  position: relative;
  top: 290px;
  left: 60px;
}

.numpad-grid {
  display: grid; /* 내부 요소들이 그리드 형태로 배치 */
  grid-template-columns: repeat(3, 1fr); /* 동일한 너비의(1fr) 3개의 컬럼 생성(repeat(3...) */
  gap: 20px; /* 각 요소 간의 간격을 20px로 설정 (행, 열 모두) */
}

.numpad-button {
  background-color: white;
  color: #666;
  font-size: 26px;
  border: none;
  padding: 20px 0;
  cursor: pointer; /* 마우스 커서를 손가락 모양으로 바꾸어 클릭 가능한 요소 */
  transition: background-color 0.2s;
}

.numpad-button:hover {
  background-color: #f5f5f5;
}

.empty-cell {
  grid-column: 1;
}