.startlist {
  text-align: center;
  padding: 10px;
  padding-top: 20px;
  font-size: 20px;
  font-weight: bold;
}
.plus-parents {
  position: relative;
}
.plus-btn {
  border: none;
  border-radius: 50px;
  font-size: 30px;
  width: 45px;
  height: 45px;
  color: #3182f6;
  position: absolute;
  top: 17px;
  left: 18px;
  cursor: pointer;
  background-color: rgba(211, 211, 211, 0.8);
}
.plus-list {
  text-align: center;
  border: none;
  border-radius: 20px;
  background-color: rgba(211, 211, 211, 0.4);
  width: 380px;
  height: 60px;
  padding: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}
.plus-text {
  font-size: 20px;
  position: absolute;
  top: 17px;
  left: 65px;
  font-weight: bold;
  color: rgb(121, 121, 121);
}
.parentsbox {
  border: none;
  background-color: rgba(211, 211, 211, 0.4);
  border-radius: 20px;
  width: 380px;
  height: 406px;
  margin: 80px 3px 0 10px;
  max-height: 406px;
  overflow-y: auto;
  overflow-x: hidden;
}

.parentsbox::-webkit-scrollbar {
  width: 10px;
}

.parentsbox::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}
.payment {
  width: 30px;
  margin: 10px 0 10px 10px;
}
.goal-box {
  background-color: white;
  margin: 25px 15px 25px 25px;
  border-radius: 20px;
  height: 360px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.goal-box:hover {
  transform: scale(1.05);
}
.nowgoal {
  font-size: 20px;
  font-weight: bold;
  margin: -41px 0 0 45px;
}
.goaltext {
  font-weight: bold;
  text-align: center;
  padding: 5px;
  color: rgb(121, 121, 121);
  font-size: 20px;

  background-color: rgba(211, 211, 211, 0.4);
  border-radius: 12px;
  width: 306px;
  height: 40px;
  margin: 10px 10px 0 10px;
}
.present {
  width: 33px;
  margin: 10px 0 10px 10px;
}
.nowmoney {
  font-size: 20px;
  font-weight: bold;
  margin: -39px 0 0 47px;
}
.money4 {
  font-weight: bold;
  text-align: center;
  padding: 5px;
  color: rgb(121, 121, 121);
  font-size: 20px;

  background-color: rgba(211, 211, 211, 0.4);
  border-radius: 12px;
  width: 306px;
  height: 40px;
  margin: 10px 10px 0 10px;
}
.goal-list {
  font-weight: bold;
  margin: 20px 0 0 10px;
}

.ninja {
  margin: 1px 0 0 25px;
}

.message {
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  background-color: rgba(192, 219, 255, 0.507);
  width: 190px;
  height: 150px;
  margin: -150px 10px 0 200px;
  border-radius: 20px;
}

.donutWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5px;
}
