.pay {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}
.pay1 {
  font-size: 30px;
  font-weight: bold;
  margin: 30px 0 20px 0;
  text-align: center;
}
.pay2 {
  font-size: 22px;
  font-weight: bold;
  margin: 30px 20px 10px 40px;
}
.pay3 {
  color: gray;
  margin: 10px 40px 20px 40px;
}
.button_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  flex-direction: column;
}
.box1-btn {
  background-color: #007bff;
  color: white;
  border: none;
  width: 320px;
  height: 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  display: block;
  border-radius: 12px;
}
.box2-btn {
  background-color: #dceaff;
  color: black;
  border: none;
  width: 320px;
  height: 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  display: block;
  border-radius: 12px;
}

.bankbook {
  font-size: 22px;
  font-weight: bold;
  margin: 0 0 20px 30px;
}
.checkbox {
  font-size: 20px;
  color: gray;
  display: flex;
  margin: 30px;
}
.input-type {
  margin: 7px 30px 7px 10px;
}
.okay-btn {
  background-color: #007bff;
  position: absolute;
  top: 700px;
  color: white;
  border: none;
  width: 350px;
  height: 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  margin: 10px 25px 0 25px;
  cursor: pointer;
  display: block;
  border-radius: 12px;
}
