.rocket {
  padding: 100px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.start1 {
  background-color: #007bff;
  color: white;
  border: none;
  width: 350px;
  height: 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  display: block;
  border-radius: 12px;
  margin: 220px 25px 0 25px;
}
