.center_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 400px; */
}

.blue_btn {
  background-color: #007bff;
  color: white;
  border: none;
  width: 300px;
  height: 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  display: block;
  border-radius: 12px;
}

.blue_big_btn {
  background-color: #007bff;
  color: white;
  border: none;
  width: 350px;
  height: 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  display: block;
  border-radius: 12px;
}

.gray_big_btn {
  background-color: rgb(226, 226, 226);
  color: white;
  border: none;
  width: 350px;
  height: 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  display: block;
  border-radius: 12px;
}

.big_btn {
  background-color: white;
  border: 1px solid #919191;
  width: 350px;
  height: 64px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  display: block;
  border-radius: 12px;
}
.light_blue_btn {
  background-color: #dceaff;
  color: black;
  border: none;
  width: 300px;
  height: 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  display: block;
  border-radius: 12px;
}

.center_text {
  text-align: center;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loader {
  position: relative;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #3182f6;
  border-radius: 50%;
}

.loading-text {
  margin-top: 20px;
  font-size: 22px;
  color: black;
  font-weight: bold;
  text-align: center;
}

.gray_small_btn {
  background-color: #f3f3f3;
  color: black;
  border: none;
  width: 173px;
  height: 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  font-weight: 500;
  margin: 4px 2px;
  cursor: pointer;
  display: block;
  border-radius: 12px;
}
.blue_small_btn {
  background-color: #007bff;
  color: white;
  border: none;
  width: 173px;
  height: 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  display: block;
  border-radius: 12px;
}

.center_wrap .btn {
  position: absolute;
  bottom: 40px;
  width: 400px;
}

.account_list {
  width: 350px;
  height: 136px;
  border-radius: 12px;
}

.auth-container {
  padding: 24px;
}

.hidden-heading {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

.message {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 16px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 330px;
  overflow: hidden;
  height: 300px;
  margin: 20px 20px;
}

.form-group {
  position: relative;
  width: 330px;
}

.input-field {
  width: 330px;
  padding: 12px;
  font-size: 18px;
  border: none;
  border-bottom: 2px solid #ddd;
  outline: none;
  margin-top: 8px;
}

.input-label {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #aaa;
  transition: 0.2s;
}

.input-field:focus + .input-label,
.input-field:not(:placeholder-shown) + .input-label {
  top: 10px;
  font-size: 12px;
  color: #3182f6;
}

.black_title {
  font-size: 22px;
  font-weight: bold;
  color: black;
  margin: 20px 0;
}

.black_title_big {
  font-size: 30px;
  font-weight: bold;
  color: black;
  margin: 20px 0;
}

.no_border_btn {
  background-color: white;
  border: none;
  font-size: 14px;
  font-weight: bold;
  color: #757575;
}

.space_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category_input {
  width: 330px;
  height: 40px;
  padding: 12px;
  font-size: 18px;
  margin-top: 8px;
  border: 1px solid rgb(164 164 164);
  border-radius: 8px;
}

.pin-input-container {
  display: flex;
  gap: 14px;
  margin-bottom: 20px;
}

.pin-input {
  width: 20px;
  height: 20px;
  font-size: 20px;
  text-align: center;
  border: none;
  border-radius: 20px;
  background-color: rgb(184, 184, 184);
  color: #3182f6;
  outline: none;
}
.pin-input:valid {
  background-color: #3182f6;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  margin-top: 30px;
}

.keypad-button {
  width: 90px;
  height: 70px;
  font-size: 36px;
  border: none;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  text-align: center;
  color: #525252;
}

.keypad-button:hover {
  background-color: rgb(235, 235, 235);
}

.confirm {
  background-color: #007bff;
  color: white;
}

.confirm:hover {
  background-color: #0056b3;
}

.back-arrow {
  padding: 20px 0 30px 10px;
  cursor: pointer;
}

/* 배경 블러 처리 */
.modal-overlay {
  position: fixed;
  top: 0;
  width: 400px;
  height: 800px;
  background: rgba(0, 0, 0, 0.3); /* 반투명 */
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px); /* 흐림 효과 */
  z-index: 99;
  font-size: 18px;
}

/* 모달 스타일 */
.modal {
  background-color: #e4eeff; /* 모달 배경색 */
  border-radius: 12px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 200px;
}

/* 버튼 스타일 */
.modal-buttons {
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
}

.confirm {
  background-color: #3182f6;
  color: white;
  border: none;
  padding: 12px 30px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
}

.cancel {
  background-color: #f3f3f3;
  color: #707070;
  border: none;
  padding: 12px 30px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
}

.confirm:hover {
  background-color: rgb(28, 106, 216);
}

.cancel:hover {
  background-color: rgb(233, 233, 233);
}
