.center_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.blue_btn {
  background-color: #007bff;
  color: white;
  border: none;
  width: 300px;
  height: 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  display: block;
  border-radius: 12px;
}

.light_blue_btn {
  background-color: #dceaff;
  color: black;
  border: none;
  width: 300px;
  height: 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  display: block;
  border-radius: 12px;
}

.center_text {
  text-align: center;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loader {
  position: relative;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #3182f6;
  border-radius: 50%;
}

.loading-text {
  margin-top: 20px;
  font-size: 22px;
  color: black;
  font-weight: bold;
  text-align: center;
}

.gray_small_btn {
  background-color: #f3f3f3;
  color: black;
  border: none;
  width: 173px;
  height: 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  font-weight: 500;
  margin: 4px 2px;
  cursor: pointer;
  display: block;
  border-radius: 12px;
}
.blue_small_btn {
  background-color: #007bff;
  color: white;
  border: none;
  width: 173px;
  height: 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  display: block;
  border-radius: 12px;
}

.center_wrap .btn {
  position: absolute;
  bottom: 36px;
}
