.menu-component-wrap {
  height: 46px;
  background-color: white;
  border-bottom: 0.5px solid grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.menu-top-border {
  border-top: 0.5px solid grey;
  margin-bottom: 10px;
}

.profile-component-wrap {
  height: 70px;
  background-color: white;
  border-bottom: 0.5px solid grey;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0 20px;
}

.menu-small-text {
  font-size: 12px;
  line-height: 20px;
  color: gray;
}
