.startlist {
  text-align: center;
  padding: 15px;
}
.plus-parents {
  position: relative;
}
.plus-btn {
  border: none;
  border-radius: 50px;
  font-size: 30px;
  width: 45px;
  height: 45px;
  color: #3182f6;
  position: absolute;
  top: 17px;
  left: 30px;
}
.plus-list {
  text-align: center;
  border: none;
  border-radius: 12px;
  background-color: rgba(211, 211, 211, 0.212);
  width: 380px;
  height: 60px;
  padding: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.parentsbox {
  border: none;
  background-color: rgba(211, 211, 211, 0.212);
  border-radius: 12px;
  width: 380px;
  height: 400px;
  margin: 77px 3px 0 10px;
}
.payment {
  width: 30px;
  margin: 10px 0 10px 10px;
}
.nowgoal {
  font-weight: bold;
  margin: -41px 0 0 45px;
}
.goaltext {
  font-weight: bold;
  text-align: center;
  padding: 5px;
  color: rgb(153, 151, 151);
  font-size: 20px;
  border: 1px solid lightgray;
  background-color: rgba(211, 211, 211, 0.575);
  border-radius: 12px;
  width: 360px;
  height: 40px;
  margin: 10px 10px 0 10px;
}
.present {
  width: 33px;
  margin: 10px 0 10px 10px;
}
.nowmoney {
  font-weight: bold;
  margin: -39px 0 0 47px;
}
.money4 {
  font-weight: bold;
  text-align: center;
  padding: 5px;
  color: rgb(153, 151, 151);
  font-size: 20px;
  border: 1px solid lightgray;
  background-color: rgba(211, 211, 211, 0.575);
  border-radius: 12px;
  width: 360px;
  height: 40px;
  margin: 10px 10px 0 10px;
}
.goal-list {
  font-weight: bold;
  margin: 20px 0 0 10px;
}

.ninja {
  margin: 8px 0 0 10px;
}

.message {
  font-size: 15px;
  padding: 40px 20px 30px 20px;
  text-align: center;
  border: none;
  background-color: rgba(192, 219, 255, 0.507);
  width: 180px;
  height: 150px;
  margin: -170px 10px 0 200px;
}
