.start {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 130px 0 0 0;
}
.pig {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 130px 40px 130px;
}
.start-btn {
  background-color: #007bff;
  color: white;
  border: none;
  width: 350px;
  height: 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  margin: 70px 25px 0 25px;
  cursor: pointer;
  display: block;
  border-radius: 12px;
}
