.pigmoney {
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -5px 0 0 25px;
}

.winnermoney1 {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0 0 25px;
}

.winnermoney2 {
  font-size: 16px;
  color: gray;
  margin: 10px 0 0 25px;
}

.winnermoney3 {
  font-size: 22px;
  font-weight: bold;
  margin: 10px 0 0 25px;
}

.mybox-container {
  border: none;
  border-radius: 12px;
  background-color: rgba(195, 193, 193, 0.653);
  width: 380px;
  height: 360px;

}